<!-- <p>project-arprograma-backend works!</p> -->
<app-navbar-lite></app-navbar-lite>
<section>
  <div class="container">
    <div class="textcontain col-12">
      @if (porti) {
        <h4 class="saludo">{{porti.projects.saludo}}</h4>
      }
      @if (porti) {
        <h2 class="mainsaludo">{{portiList[2].name}}</h2>
      }
      @if (porti) {
        <h3 class="maindesc">{{portiList[2].desc}}</h3>
      }
    </div>
    <div class="about col-12">
      <img class="projectimage" [src]="portiList[2].image" alt="project's image">
    </div>
    <div class="infoextended">
      @if (porti) {
        <h3>{{portiList[2].name}}</h3>
      }
      @if (porti) {
        <p>{{portiList[2].extendedDesc}}</p>
      }
      @if (porti) {
        <p>Documentation: <a [href]="portiList[2].document" target="_blank">{{portiList[2].document}}</a></p>
      }
    </div>
    <div class="skills col-12">
      <h3>Implemented Technologies: </h3>
      <div class="skillspan">
        <span>mysql</span>
        <span>java</span>
        <span>spring boot</span>
        <span>postman</span>
        <span>docker</span>
        <span>render</span>
        <span>swagger</span>
      </div>
    </div>
    <div class="buttons">
      <a class="seelive" [href]="portiList[2].href" target="_blank">see live</a>
      <a class="seelive" [href]="portiList[2].hrefgithub" target="_blank">see github </a>
      <button (click)="goToHome()">go back</button>
    </div>
  </div>
</section>
<app-footer></app-footer>
