<section id="projectsid">
  <div class="container">
    <div class="textcontain col-12">
      <h4 class="saludo">works</h4>
      <h2 class="mainsaludo">Projects</h2>
      <h3 class="maindesc">Get to know some of my latest projects!</h3>
    </div>
    <div class="projectsin col-12">
      <!-- project 1 -->
      <div class="projects row col-12">
        <div class="about col-12 col-md-7">
          <img class="projectimage" src="./assets/images/pngwing.comlaptop21st.png" alt="">
        </div>
        <div class="infoproject col-12 col-md-5">
          <h3>Alexander Repollo's Portfolio: </h3>
          <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Beatae, eligendi in tempore perspiciatis atque
            magni quisquam? Adipisci, ratione id? Nam unde incidunt pariatur quia, at ab ipsa cumque officiis assumenda!
          </p>
          <div class="seemore">
            <button>see more</button>
          </div>
        </div>
      </div>
      <!-- project 2 -->
      <div class="projects row col-12">
        <div class="about col-12 col-md-7">
          <img class="projectimage" src="./assets/images/pngwing.comlaptop22nd.png" alt="">
        </div>
        <div class="infoproject col-12 col-md-5">
          <h3>Project co.work RH : </h3>
          <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Beatae, eligendi in tempore perspiciatis atque
            magni quisquam? Adipisci, ratione id? Nam unde incidunt pariatur quia, at ab ipsa cumque officiis assumenda!
          </p>
          <div class="seemore">
            <button>see more</button>
          </div>
        </div>
      </div>
      <!-- project 3 -->
      <div class="projects row col-12">
        <div class="about col-12 col-md-7">
          <img class="projectimage" src="./assets/images/pngwing.comlaptop23rd.png" alt="">
        </div>
        <div class="infoproject col-12 col-md-5">
          <h3>Argentina Programa's project: </h3>
          <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Beatae, eligendi in tempore perspiciatis atque
            magni quisquam? Adipisci, ratione id? Nam unde incidunt pariatur quia, at ab ipsa cumque officiis assumenda!
          </p>
          <div class="seemore">
            <button>see more</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>