<!-- Hero section -->
<section>
  <div class="banner"></div>
  <div class="infocontain">
    <div class="container row">
      <div class="textcontain col-md-9">
        <h3 *ngIf="porti" class="saludo">{{porti.home.saludo}}</h3>
        <h2 *ngIf="porti" class="mainsaludo">{{porti.home.mainsaludo}}</h2>
        <h2 *ngIf="porti" class="maindesc">{{porti.home.maindesc}}</h2>
        <h3 *ngIf="porti" class="location"><i class="bi bi-geo-alt-fill"></i> buenos aires, argentina</h3>
      </div>
      <div class="buttons col-md-3">
        <button (click)="toWorks()">{{porti.navbar.boton3}}</button>
        <button (click)="toAbout()">{{porti.navbar.boton2}}</button>
      </div>
    </div>
    
  </div>
  
  <div class="ownermention" id="seraquefunciona">
    <p>
      Photo by <a *ngIf="porti" [href]="porti.home.photoowner" target="_blank"> Anton Darius</a> on <a *ngIf="porti" [href]="porti.home.photowebsite" target="_blank"> Unsplash</a>
    </p>
  </div>
</section>

