<app-navbar-lite></app-navbar-lite>
<section>
  <div class="container">
    <div class="textcontain col-12">
      @if (porti) {
        <h4 class="saludo">{{porti.projects.saludo}}</h4>
      }
      @if (porti) {
        <h2 class="mainsaludo">{{portiList[1].name}}</h2>
      }
      @if (porti) {
        <h3 class="maindesc">{{portiList[1].desc}}</h3>
      }
    </div>
    <div class="about col-12">
      <img class="projectimage" [src]="portiList[1].image" alt="project's image">
    </div>
    <div class="infoextended">
      @if (porti) {
        <h3>{{portiList[1].name}}</h3>
      }
      @if (porti) {
        <p>{{portiList[1].extendedDesc}}</p>
      }
      @if (porti) {
        <p>{{portiList[1].extendedDesc2}}</p>
      }
      @if (porti) {
        <p>{{portiList[1].extendedDesc3}}</p>
      }
      @if (porti) {
        <p>{{portiList[1].extendedDesc4}}</p>
      }
    </div>
    <div class="skills col-12">
      <h3>Implemented Technologies: </h3>
      <div class="skillspan">
        <span>html</span>
        <span>css</span>
        <span>typescript</span>
        <span>bootstrap</span>
        <span>angular</span>
        <span>firebase</span>
      </div>
    </div>
    <div class="buttons">
      <a class="seelive" [href]="portiList[1].href" target="_blank">see live</a>
      <a class="seelive" [href]="portiList[1].hrefgithub" target="_blank">see github</a>
      <button (click)="goToHome()">go back</button>
    </div>
  </div>
</section>
<app-footer></app-footer>
