<!-- Hero section -->
<section>
  <div class="banner"></div>
  <div class="infocontain">
    <div class="container row">
      <div class="textcontain col-md-9">
        @if (porti) {
          <h3 class="saludo">{{porti.home.saludo}}</h3>
        }
        @if (porti) {
          <h2 class="mainsaludo">{{porti.home.mainsaludo}}</h2>
        }
        @if (porti) {
          <h1 class="maindesc">{{porti.home.maindesc}}</h1>
        }
        @if (porti) {
          <h3 class="location"><i class="bi bi-geo-alt-fill"></i> buenos aires, argentina</h3>
        }
      </div>
      <div class="buttons col-md-3">
        <button (click)="toWorks()">{{porti.navbar.boton3}}</button>
        <button (click)="toAbout()">{{porti.navbar.boton2}}</button>
      </div>
    </div>
  </div>
  <div class="ownermention" id="seraquefunciona">
    <p>
      Photo by @if (porti) {
      <a [href]="porti.home.photoowner" target="_blank"> Anton Darius</a>
      } on @if (porti) {
      <a [href]="porti.home.photowebsite" target="_blank"> Unsplash</a>
    }
  </p>
</div>
</section>
