<!-- Hero section -->
<section>
  <div class="banner"></div>
  <div class="infocontain">
    <div class="container row">
      <div class="textcontain col-md-9">
        <h3 class="saludo">welcome!</h3>
        <h2 class="mainsaludo">I am Alexander Repollo.</h2>
        <h2 class="maindesc">Full Stack Web Developer.</h2>
      </div>
      <div class="buttons col-md-3">
        <button >projects</button>
        <button (click)="toAbout()" >about me</button>
      </div>
    </div>
    
  </div>
  
  <div class="ownermention" id="seraquefunciona">
    <p>
      Foto de <a href="https://unsplash.com/@thesollers?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText" target="_blank"> Anton Darius</a> en <a href="https://unsplash.com/es/fotos/ebHCU8n7G38?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText" target="_blank"> Unsplash</a>
    </p>
  </div>
</section>
