<app-navbar-lite-es></app-navbar-lite-es>
<section>
  <div class="container">
    <div class="textcontain col-12">
      @if (porti) {
        <h4 class="saludo">{{porti.projects.saludo}}</h4>
      }
      @if (porti) {
        <h2 class="mainsaludo">{{portiList[3].name}}</h2>
      }
      @if (porti) {
        <h3 class="maindesc">{{portiList[3].desc}}</h3>
      }
    </div>
    <div class="about col-12">
      <img class="projectimage" [src]="portiList[3].image" alt="project's image">
    </div>
    <div class="infoextended">
      @if (porti) {
        <h3>{{portiList[3].name}}</h3>
      }
      @if (porti) {
        <p>{{portiList[3].extendedDesc}}</p>
      }
      @if (porti) {
        <p>{{portiList[3].extendedDesc2}}</p>
      }
    </div>
    <div class="skills col-12">
      <h3>Tecnologías implementadas: </h3>
      <div class="skillspan">
        <span>html</span>
        <span>css</span>
        <span>typescript</span>
        <span>bootstrap</span>
        <span>angular</span>
        <span>mysql</span>
        <span>java</span>
        <span>spring boot</span>
        <span>firebase</span>
      </div>
    </div>
    <div class="buttons">
      <a class="seelive" [href]="portiList[3].href" target="_blank">ver online</a>
      <a class="seelive" [href]="portiList[3].hrefgithub" target="_blank">ver github</a>
      <button (click)="goToHome()">volver</button>
    </div>
  </div>
</section>
<app-footer-es></app-footer-es>
