<section id="aboutid">
  <div class="container row">
    <div class="textcontain col-12">
      <h4 class="saludo">about</h4>
      <h2 class="mainsaludo">About me!</h2>
      <h3 class="maindesc">Get to know more about me</h3>
    </div>
    <div class="aboutskills row col-12">
      <div class="about col-12 col-md-6">
        <h3>About me: </h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Labore, beatae officia? Aut accusantium, repudiandae sunt deleniti tenetur reprehenderit enim et excepturi incidunt vitae odio vel soluta veritatis molestiae repellendus eum.</p>
      </div>
      <div class="skills col-12 col-md-5">
        <h3>Skills: </h3>
        <div class="skillspan">
          <span>html</span>
          <span>css</span>
          <span>javascript</span>
          <span>typescript</span>
          <span>bootstrap</span>
          <span>angular</span>
          <span>mysql</span>
          <span>java</span>
          <span>spring boot</span>
        </div>
      </div>
    </div>
  </div>
</section>
